@font-face {
	font-family: "droid serif";
	src: url("assets/DroidSerif-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "droid serif";
	src: url("assets/DroidSerif-Bold.ttf");
	font-weight: bold;
}

body {
	width: 1024px;
	margin: 0 auto;   
	font-family: "droid serif";
	text-align: center;
 }

 header {
	position: relative;
	background-color: palegoldenrod;
 }

 h1 {
	text-align: left;
	margin-left: 348px;
	padding-bottom: 12px;
 }
 
.photo {
	width: 150px;
	height: 200px;
	position: absolute;
  margin: -72px 362px;
 }

 main {
	margin-top: -22px;	
	background-color: lemonchiffon;
 }

 a {
	 padding-left: 15px;
	 text-decoration: none;
	 color: black;
 }

 a:hover {
   color: blue; 
 }

 ul {
	 list-style-type: none;
   padding: 0px;		
	}
 
 footer {
	 background-color: palegoldenrod;
   text-align: center;
 	 margin-top: -16px;
 }

 footer p {
	 padding: 15px 0;
 }