body {
	width: 1024px;
	margin: 0 auto;   
 }
 header {
		 position: relative;
 }
 h1 {
		 text-align: center;
	 
 }
 
 
 .photo {
	 width: 150px;
	 height: 200px;
	 position: absolute;
	 margin: -75px 734px;
 }
 main {
		 margin-top: 120px;
 }
 
 